.container {
  width: 300px;
  display: flex;
}
.image {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
}
.discount {
  color: red;
  font-weight: bold;
  font-size: 18px;
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff3333, 0 0 20px #ff6666;
  }
  to {
    opacity: 0.5;
    text-shadow: none;
  }
}
