h1 {
  background-color: aqua;
}
h2 {
  background-color: beige;
}
.hello {
  color: white;
  background-color: green;
  text-align: center;
  font-size: 30px;
}
.bye {
  color: white;
  background-color: orange;
  text-align: center;
  font-size: 30px;
}
