.page-table {
  position: relative;
  width: 100%;
  height: 920px;
}

.un-box {
  width: 100%;
  height: 200px;
}

.table__txt-box {
  width: 100%;
  height: 290px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.table__txt-box > .txt__img {
  width: 400px;
  height: 127px;
  background-image: url("../image/하삼동 로고.png");
  background-position: center;
  background-size: cover;
}

.table__txt-box > p {
  font-size: 40px;
  margin-top: 50px;
  font-family: "Wanju";
}

.table__txt-box > span {
  margin-top: 20px;
  font-size: 17px;
  line-height: 150%;
  font-family: "Wanju";
}

.page-table > .table__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-color: #f9f9f9;
  z-index: 0;
  padding: 40px 30px;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.table__bottom > .bottom__img {
  position: relative;
  width: 800px;
  height: 208px;

  background-image: url(../image/main_bot_banner.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  background-repeat: no-repeat;
  top: 20px;
}

.foot-inner {
  width: 800px;
  height: 208px;
  padding-top: 30px;
  padding-left: 30px;
}
.foot-inner > .foot-link {
  font-family: "Wanju";
  font-size: 18px;
  font-weight: 500;
}

.foot-inner > .foot-link > a {
  padding: 0px 0px 0px 20px;
}

.foot-inner > .foot-info {
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.foot-inner > .foot-info > .border {
  border-right: 1px solid gray;
  width: 1px;
  padding-left: 7px;
  padding-right: 7px;
}
.foot-inner > .foot-info > .solo {
  padding-left: 7px;
}

.foot-inner > .copyright {
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px;
  padding-left: 7px;
}

@media (max-width: 767px) {
  .page-table {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .table__bottom {
    position: relative;
    width: 0%;
    margin-bottom: 20px;
  }

  .table__txt-box {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .table__txt-box > p {
    font-size: 24px;
    margin-top: 10px;
  }

  .bottom__img {
    display: none;
  }

  .table__txt-box > span {
    font-size: 14px;
    line-height: 1.5;
  }

  .table__txt-box > .txt__img {
    width: 200px;
    height: 60px;
    background-size: cover;
  }

  .foot-inner > .foot-link {
    display: flex;
    flex-direction: column;
    line-height: 40px;
  }
}
