nav {
  width: 100%;
  max-width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
}

nav > ul > li {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  nav > ul {
    display: none;
  }

  nav > .hamburger {
    display: block;
  }
}
