section {
  padding: 50px;
  background-color: #f7f8fb;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}

.title > h2 {
  font-size: 56px;
  font-weight: 700;
  color: #1d1d1f;
}
.title > span {
  color: #0066cc;
}
.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}

.products > .phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products > .phone > .colors {
  display: flex;
  flex-direction: row;
  gap: 3px;
  margin-top: 40px;
}

.products > .phone > .colors > .circle {
  width: 11px;
  height: 11px;
  border-radius: 9999px;
}
.brown {
  background-color: #bfa48f;
}

.titanium {
  background-color: #c2bcb2;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.products > .phone > .name {
  font-size: 28px;
  font-weight: 700;
  color: #1d1d1f;
  margin-top: 40px;
}

.products > .phone > .sub {
  color: #1d1d1f;
  margin-top: 30px;
}

.products > .phone > .price {
  color: #1d1d1f;
  margin-top: 20px;
  font-weight: bold;
}

.products > .phone > .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}

.products > .phone > .buttons > .more {
  border: none;
  color: white;
  background-color: #0066cc;
  border-radius: 20px;
  padding: 11px 22px;
  font-size: 17px;
}
.products > .phone > .buttons > .purchase {
  border: none;
  padding: 11px 21px;
  color: #0066cc;
  background-color: transparent;
  border-radius: 30px;
  font-size: 17px;
}

.products > .phone > picture {
  transition: all 0.5s;
}

picture:hover {
  transform: scale(1.03);
}

.title > span {
  text-decoration: underline;
  transition: all 0.5s;
}

span:hover {
  transform: scale(1.03);
}
