.container {
  display: flex;
}
.Box {
  width: 100px;
  text-align: center;
  margin-right: 50px;
}
.image {
  width: 100px;
  height: 100px;
  border-radius: 9999px;
  object-fit: cover;
  padding: 5px;
  border: 2px solid purple;
}
