.card {
  width: 300px;
  height: 400px;
  background-image: url(casey-horner-75_s8iWHKLs-unsplash.jpg);
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
  padding-top: 20px;
  padding-left: 30px;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.title > .sub {
  font-size: 10px;
  font-weight: 300;
}

.box {
  width: 300px;
  height: 300px;
  background-image: linear-gradient(
    to bottom,
    #051937,
    #002265,
    #002894,
    #0027c1,
    #1b12eb
  );
}
