header {
  width: 100%;

  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
}

nav {
  width: 1180px;
  height: 60px;
  margin: 0 auto;
  border: 2px solid red;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inner > h1 {
  font-size: 24px;
  font-weight: bold;
  color: #444;
}

nav > .gnb {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-weight: bold;
  font-size: 15px;
  color: #555;
  cursor: pointer;
}

nav > .gnb > li {
  list-style: none;
  padding: 0 10px;

  transition: all 0.3s;
  line-height: 60px;
}

nav > .gnb > li:hover {
  background-color: black;
  color: white;
}
