.menu {
  padding: 100px 400px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.menu > .beverage {
  border: 1px solid #dddddd;
  flex-direction: column;
}

.menu > .new {
  color: white;
  background-color: rgba(255, 91, 40);
  border-radius: 9999px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 10px;
  top: 10px;
}
